<h1>Kurser</h1>

<input
  type="text"
  placeholder="Sök kurskod eller kursnamn"
  (input)="searchTerm.set($any($event.target).value)"
>
<select (change)="selectedSubject.set($any($event.target).value)">
  <option value="">Alla ämnen</option>
  <option *ngFor="let subject of subjects()" [value]="subject">
    {{ subject }}
  </option>
</select>

<p>Antal kurser i urvalet: {{ sortedCourses().length }}</p>

<table>
  <thead>
    <tr>
      <th (click)="setSort('courseCode')">Kurskod</th>
      <th (click)="setSort('courseName')">Kursnamn</th>
      <th (click)="setSort('points')">Poäng</th>
      <th (click)="setSort('subject')">Ämne</th>
      <th (click)="setSort('progression')">Progression</th>
      <th>Schema</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let course of sortedCourses()">
      <td>{{ course.courseCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.points }}</td>
      <td>{{ course.subject }}</td>
      <td>{{ course.progression }}</td>
      <td>
      <button (click)="addCourse(course)">
       Lägg till
      </button>
</td>
    </tr>
  </tbody>
</table>

<section>
  <h2>Mitt ramschema</h2>

  <p>Antal valda kurser: {{ selectedCourses().length }}</p>
  <p>Totalt antal högskolepoäng: {{ totalPoints() }}</p>

  <table *ngIf="selectedCourses().length > 0">
    <thead>
      <tr>
        <th>Kurskod</th>
        <th>Kursnamn</th>
        <th>Poäng</th>
        <th>Ta bort</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let course of selectedCourses()">
        <td>{{ course.courseCode }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.points }}</td>
        <td>
          <button (click)="removeCourse(course.courseCode)">
            Ta bort
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>