<h1>Kurser</h1>

<div class="filters">

  <input
    type="text"
    placeholder="Sök kurskod eller kursnamn"
    (input)="searchTerm.set($any($event.target).value)"
  >

  <select (change)="selectedSubject.set($any($event.target).value)">
    <option value="">Alla ämnen</option>
    <option *ngFor="let subject of subjects()" [value]="subject">
      {{ subject }}
    </option>
  </select>

</div>

<p class="course-count">
  Antal kurser i urvalet: {{ sortedCourses().length }}
</p>

<div class="table-wrapper">
<table>
  <thead>
    <tr>
      <th (click)="setSort('courseCode')">Kurskod</th>
      <th (click)="setSort('courseName')">Kursnamn</th>
      <th (click)="setSort('points')">Poäng</th>
      <th (click)="setSort('subject')">Ämne</th>
      <th (click)="setSort('progression')">Progression</th>
      <th>Kursplan</th>
      <th>Schema</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let course of sortedCourses()">
      <td>{{ course.courseCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.points }}</td>
      <td>{{ course.subject }}</td>
      <td>{{ course.progression }}</td>
      <td>
    <a [href]="course.syllabus" target="_blank">
     Kursplan
    </a>
    </td>
      <td>
        <button (click)="addCourse(course)">Lägg till</button>
      </td>
    </tr>
  </tbody>
</table>
</div>